<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="9aH1m8u6IaJ5pzLiA81M0LNF1CI_YKYrNXJw27CbSiE" />
    <title>FoodGroup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'app' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
